/* Smartphones */
@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.6rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.2rem;
    display: flex;
  }

  #navbar ul li:last-child {
    display: none;
  }

  .py-2 {
    padding: 1rem 0;
  }

  #showcase {
    background: #333 url('../img/run-beach-cover.jpg') no-repeat center
      center/cover;
    height: 50vh;
    width: 100%;
    color: #fff;
  }

  #showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60%;
    padding: 0 2rem;
  }

  #showcase .showcase-content h1 {
    padding-top: 25vh;
    font-size: 1.5rem;
  }

  .section-favorites {
    flex-direction: column;
  }

  .section-favorites .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 25px;
  }

  .section-favorites .items img {
    width: 100%;
    height: 100%;
  }

  .shop {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    grid-gap: 1rem;
  }

  #about .container {
    display: flex;
    flex-direction: column-reverse;
  }

  #about img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  .about .about-img img {
    margin-right: 1rem;
    width: 100%;
    height: 100%;
  }

  #about .about-info {
    width: 100%;
    padding: 20px;
  }

  .showcase-blog {
    height: 50vh;
    padding: 50px 1rem;
  }

  .showcase-blog h1 {
    padding-top: 20px;
    font-size: 22px;
    line-height: 1.2;
  }

  .showcase-blog h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }

  .showcase-blog::before {
    content: '';
    /* Overlay */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 1rem;
  }

  .showcase-blog * {
    z-index: 10;
  }

  #blog-container .main-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .blog-image img {
    height: 100%;
    max-width: 95%;
  }

  .blog-main .blog-img img {
    height: 100%;
    width: 100%;
  }

  /* Details: single item */
  main {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .single-details img {
    height: 350px;
    width: 350px;
    height: 66%;
  }

  .item-details h2 {
    margin-top: 1rem;
    margin-left: 40px;
    padding-left: 10px;
  }

  .item-details h4,
  .item-size h4,
  .item-specifics h4,
  .item-size ul,
  .bullet-points ul {
    margin-top: 0.3rem;
    margin-left: 40px;
    padding-left: 10px;
  }

  .buy {
    padding-left: 10px;
    margin-left: 40px;
    margin-bottom: 2rem;
  }

  .contact {
    flex-direction: column;
  }

  #main-footer .lists {
    display: block;
    padding-top: 0;
    margin-top: 0;
  }

  #main-footer h4 {
    margin-top: 20px;
  }
}

/* iPhone 5/SE */
@media (max-height: 568px) {
  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}
